<h1>
    {{message}}
</h1>
    <div id="scrollableContainer">
    <ul>
        {{#each producs}}
        <li>
            {{>contact}}
        </li>
        {{/each}}
    </ul>
</div>
<form class="form" data-key="{{currentContact.id}}">

    <input class="input" type="text" required name="name" placeholder="Name" value="{{currentContact.name}}"
           oninput="blockButton('{{currentContact.name}}', '{{currentContact.phone}}')">

    <input class="input" type="tel" required name="phone" placeholder="Phone" value="{{currentContact.phone}}"
           oninput="blockButton('{{currentContact.name}}', '{{currentContact.phone}}')">
</form>


<div class="controls-wrapper">
    <div class="form-part control" >
        <button onclick="updateContact()">Ok</button>
    </div>
    <div class="form-part control">
        <button onclick="deleteContact()" id="delete-button">Delete</button>
    </div>
    <div class="form-part control" >
        <button onclick="{{goBack}}">Cancel</button>
    </div>
</div>